<div id="my-container-id" class="my-feature-container">
  <div class="work-feature-block row my-feature">
    <h3>Current Watch Parties</h3>
  </div>

  <div class="work-feature-block row my-feature">
    <div class="columns medium-12">
      <h4>Title</h4>
      <table class="stack">
        <thead class="my-table-header">
          <tr>
            <th width="100">Date</th>
            <th width="100">Time</th>
            <th width="265">Party Name</th>
            <th width="265">Show Name</th>
            <th width="175">Host</th>
            <th width="150">Join</th>
            <th width="150">Who's Going</th>
          </tr>
        </thead>

        <tbody>
          {{#each parties as |party| }}
          <tr>
            <td>{{format_date party.party_time}}</td>
            <td>{{format_time party.party_time}}</td>
            <td>{{party.party_name}}</td>
            <td>{{party.show_name}}</td>
            <td>{{party.user.name}}</td>
            <td><input class="btn-join-party" type="button" value="Join Party" onclick=""></td>
            <td><input class="btn-join-party" type="button" value="Guest List" onclick=""></td>
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>
</div>

<script src="/js/join.js"></script>